/* Screen Sizes */
$small : "only screen and (max-width: 640px)";
$medium : "only screen and (min-width: 641px) and (max-width: 960px)";
$large : "only screen and (min-width: 961px)";

/* Colors */

$main-body-bg : #49B5BB;
$white-background : #ECF8E7;
$darker-blue : #2F8F97;